---
import Main from "../layouts/Main.astro";
import WorkVue from "../components/Work.vue";
import App from "../components/App.vue";
---

<Main>
  <main>
    <App activeLink={"/work"}>
      <WorkVue />
    </App>
  </main>
</Main>
